<ion-app>
  <ion-header>
  </ion-header>
  <ion-content class="ion-padding" color="light">
    <ion-row style="justify-content: center; align-items: center">
      <ion-text color="dark">
        <h1 style="text-align: center">
          NewBlog - El lugar donde puedes encontrar las noticias de mayor actualidad
        </h1>
      </ion-text>
    </ion-row>
    <ion-grid>
      <ion-row style="justify-content: center; align-items: center">
        <ion-col size-xl=6 size-lg=6 size-md=8 size-sm=8 size-xs=12>
          <ion-text color="medium">
            <h3 style="text-align: center">
              Esta página ha sido diseñada por Sergio de la Mata para poder observar el funcionamiento de Ionic desde una perspectiva de usuario y desarrollado para distintas plataformas.
            </h3>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="justify-content: center; align-items: center">
        <ion-col size-xl=2 size-lg=2 size-md=4 size-sm=4 size-xs=6>
          <ion-button color="primary" block=true style="width:100%">
            <p size="small">
              Home
            </p>
          </ion-button>
        </ion-col>
        <ion-col size-xl=2 size-lg=2 size-md=4 size-sm=4 size-xs=6>
          <ion-button color="dark" block=true style="width:100%">
            <p size="small">
              News
            </p>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row style="background-color: rgb(236, 233, 233);">
        <ion-col size-xl=4 size-lg=4 size-md=6 size-sm=6 size-xs=12>
          <ion-card color="light">
            <ion-thumbnail style="width: 100%; height: fit-content">
                <img src="/assets/img1.jpg">
              </ion-thumbnail>
              <ion-card-content>
                <ion-text color="dark">
                  <p>
                    Pokémon Escarlata y Pokémon Púrpura, las nuevas entregas del universo Pokémon, llegarán a Nintendo Switch a finales de este año. Con estos nuevos títulos, Pokémon da un gran paso hacia delante al permitir a los jugadores explorar libremente un extenso mundo abierto lleno de vida.
                  </p>
                </ion-text>
                <ion-row>
                  <ion-col size-xs=3 size-sm=3 size-md=3 size-lg=3 size-xl=2>
                    <ion-button class="outline-button" color="tertiary" style="width:100%;">
                      View
                    </ion-button>
                  </ion-col>
                  <ion-col size-xs=3 size-sm=3 size-md=3 size-lg=3 size-xl=2>
                    <ion-button class="outline-button" color="success" style="width:100%;">
                      Edit
                    </ion-button>
                  </ion-col>
                  <ion-col size-xs=3 size-sm=4 size-md=3 size-lg=3 size-xl=2 offset-xs=3 offset-sm=2 offset-md=3 offset-lg=3 offset-xl=6>
                    <ion-text color="dark">
                      <p style="justify-content: center; align-items: center; text-align: center; vertical-align: middle; height: 100%; display: flex;">
                        3 mins
                      </p>
                    </ion-text>
                  </ion-col>
                </ion-row>
              </ion-card-content>
          </ion-card>
        </ion-col><ion-col size-xl=4 size-lg=4 size-md=6 size-sm=6 size-xs=12>
          <ion-card color="light">
            <ion-thumbnail style="width: 100%; height: fit-content">
                <img src="/assets/img2.jpg">
              </ion-thumbnail>
              <ion-card-content>
                <ion-text color="dark">
                <p>
                  El espionaje alemán grabó conversaciones entre soldados rusos en Ucrania que presuntamente prueban que los disparos a civiles formaban parte de la estrategia de guerra de Rusia en ese país, según informa este jueves el semanario Spiegel.
                </p>
              </ion-text>
              <ion-row>
                <ion-col size-xs=3 size-sm=3 size-md=3 size-lg=3 size-xl=2>
                  <ion-button class="outline-button" color="tertiary" style="width:100%;">
                    View
                  </ion-button>
                </ion-col>
                <ion-col size-xs=3 size-sm=3 size-md=3 size-lg=3 size-xl=2>
                  <ion-button class="outline-button" color="success" style="width:100%;">
                    Edit
                  </ion-button>
                </ion-col>
                <ion-col size-xs=3 size-sm=4 size-md=3 size-lg=3 size-xl=2 offset-xs=3 offset-sm=2 offset-md=3 offset-lg=3 offset-xl=6>
                  <ion-text color="dark">
                    <p style="justify-content: center; align-items: center; text-align: center; vertical-align: middle; height: 100%; display: flex;">
                      9 mins
                    </p>
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-xl=4 size-lg=4 size-md=6 size-sm=6 size-xs=12>
          <ion-card color="light">
              <ion-thumbnail style="width: 100%; height: fit-content">
                <img src="/assets/img3.jpg">
              </ion-thumbnail>
              <ion-card-content>
                <ion-text color="dark">
                <p>
                  Actualmente, los niños representan aproximadamente un 18 % de todos los casos de COVID-19 en los Estados Unidos, y los casos van en aumento. Desde principios de septiembre de 2021 se han informado más de 5,6 millones de casos infantiles.
                </p>
              </ion-text>
              <ion-row>
                <ion-col size-xs=3 size-sm=3 size-md=3 size-lg=3 size-xl=2>
                  <ion-button class="outline-button" color="tertiary" style="width:100%;">
                    View
                  </ion-button>
                </ion-col>
                <ion-col size-xs=3 size-sm=3 size-md=3 size-lg=3 size-xl=2>
                  <ion-button class="outline-button" color="success" style="width:100%;">
                    Edit
                  </ion-button>
                </ion-col>
                <ion-col size-xs=3 size-sm=4 size-md=3 size-lg=3 size-xl=2 offset-xs=3 offset-sm=2 offset-md=3 offset-lg=3 offset-xl=6>
                  <ion-text color="dark">
                    <p style="justify-content: center; align-items: center; text-align: center; vertical-align: middle; height: 100%; display: flex;">
                      15 mins
                    </p>
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>