<ion-app>
  <ion-header>
  </ion-header>
  <ion-content class="ion-padding" color="light">
    <ion-row style="justify-content: center; align-items: center">
      <ion-text color="dark">
        <h1>About example</h1>
      </ion-text>
    </ion-row>
    <ion-grid>
      <ion-row style="justify-content: center; align-items: center">
        <ion-col size-xl=6 size-lg=6 size-md=8 size-sm=8 size-xs=12>
          <ion-text color="medium">
            <h3 style="text-align: center">
              Something short and leading about the collection below - its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.
            </h3>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="justify-content: center; align-items: center">
        <ion-col size-xl=2 size-lg=2 size-md=4 size-sm=4 size-xs=6>
          <ion-button color="primary" block=true style="width:100%">
            <p size="small">
              Main call to action
            </p>
          </ion-button>
        </ion-col>
        <ion-col size-xl=2 size-lg=2 size-md=4 size-sm=4 size-xs=6>
          <ion-button color="dark" block=true style="width:100%">
            <p size="small">
              Secondary action
            </p>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row style="background-color: rgb(236, 233, 233);">
        <ion-col size-xl=4 size-lg=4 size-md=6 size-sm=6 size-xs=12>
          <ion-card color="light">
            <ion-thumbnail style="width: 100%; height: fit-content">
                <img src="/assets/img1.jpg">
              </ion-thumbnail>
              <ion-card-content>
                <ion-text color="dark">
                  <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </ion-text>
                <ion-row>
                  <ion-col size-xs=3 size-sm=3 size-md=3 size-lg=3 size-xl=2>
                    <ion-button class="outline-button" color="dark" style="width:100%;">
                      View
                    </ion-button>
                  </ion-col>
                  <ion-col size-xs=3 size-sm=3 size-md=3 size-lg=3 size-xl=2>
                    <ion-button class="outline-button" color="dark" style="width:100%;">
                      Edit
                    </ion-button>
                  </ion-col>
                  <ion-col size-xs=3 size-sm=4 size-md=3 size-lg=3 size-xl=2 offset-xs=3 offset-sm=2 offset-md=3 offset-lg=3 offset-xl=6>
                    <ion-text color="dark">
                      <p style="justify-content: center; align-items: center; text-align: center; vertical-align: middle; height: 100%; display: flex;">
                        9 mins
                      </p>
                    </ion-text>
                  </ion-col>
                </ion-row>
              </ion-card-content>
          </ion-card>
        </ion-col><ion-col size-xl=4 size-lg=4 size-md=6 size-sm=6 size-xs=12>
          <ion-card color="light">
            <ion-thumbnail style="width: 100%; height: fit-content">
                <img src="/assets/img2.jpg">
              </ion-thumbnail>
              <ion-card-content>
                <ion-text color="dark">
                <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </ion-text>
              <ion-row>
                <ion-col size-xs=3 size-sm=3 size-md=3 size-lg=3 size-xl=2>
                  <ion-button class="outline-button" color="dark" style="width:100%;">
                    View
                  </ion-button>
                </ion-col>
                <ion-col size-xs=3 size-sm=3 size-md=3 size-lg=3 size-xl=2>
                  <ion-button class="outline-button" color="dark" style="width:100%;">
                    Edit
                  </ion-button>
                </ion-col>
                <ion-col size-xs=3 size-sm=4 size-md=3 size-lg=3 size-xl=2 offset-xs=3 offset-sm=2 offset-md=3 offset-lg=3 offset-xl=6>
                  <ion-text color="dark">
                    <p style="justify-content: center; align-items: center; text-align: center; vertical-align: middle; height: 100%; display: flex;">
                      9 mins
                    </p>
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-xl=4 size-lg=4 size-md=6 size-sm=6 size-xs=12>
          <ion-card color="light">
              <ion-thumbnail style="width: 100%; height: fit-content">
                <img src="/assets/img3.jpg">
              </ion-thumbnail>
              <ion-card-content>
                <ion-text color="dark">
                <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </ion-text>
              <ion-row>
                <ion-col size-xs=3 size-sm=3 size-md=3 size-lg=3 size-xl=2>
                  <ion-button class="outline-button" color="dark" style="width:100%;">
                    View
                  </ion-button>
                </ion-col>
                <ion-col size-xs=3 size-sm=3 size-md=3 size-lg=3 size-xl=2>
                  <ion-button class="outline-button" color="dark" style="width:100%;">
                    Edit
                  </ion-button>
                </ion-col>
                <ion-col size-xs=3 size-sm=4 size-md=3 size-lg=3 size-xl=2 offset-xs=3 offset-sm=2 offset-md=3 offset-lg=3 offset-xl=6>
                  <ion-text color="dark">
                    <p style="justify-content: center; align-items: center; text-align: center; vertical-align: middle; height: 100%; display: flex;">
                      9 mins
                    </p>
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>