<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Cabecera</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-row style="justify-content: center; align-items: center">
      <ion-text color="light">
        <h1>About example</h1>
      </ion-text>
    </ion-row>
    <ion-grid>
      <ion-row style="justify-content: center; align-items: center">
        <ion-col size-xl=6 size-lg=6 size-md=8 size-sm=8 size-xs=12>
          <ion-text color="medium">
            <h3 style="text-align: center">
              Something short and leading about the collection below - its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.
            </h3>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="justify-content: center; align-items: center">
        <ion-col size-xl=2 size-lg=2 size-md=4 size-sm=4 size-xs=6>
          <ion-button color="primary">Main call to action</ion-button>
        </ion-col>
        <ion-col size-xl=2 size-lg=2 size-md=4 size-sm=4 size-xs=6>
          <ion-button color="secondary">Secondary action</ion-button>
        </ion-col>
      </ion-row>
      <ion-row style="background-color: rgb(236, 233, 233);">
        <ion-col size-xl=4 size-lg=4 size-md=6 size-sm=6 size-xs=12>
          <ion-card style="background-color: white;">
            <ion-thumbnail style="width: 100%; height: fit-content">
                <img src="/assets/img1.jpg">
              </ion-thumbnail>
              <ion-card-content>
                <ion-text color="light">
                  <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </ion-text>
              </ion-card-content>
          </ion-card>
        </ion-col><ion-col size-xl=4 size-lg=4 size-md=6 size-sm=6 size-xs=12>
          <ion-card style="background-color: white;">
            <ion-thumbnail style="width: 100%; height: fit-content">
                <img src="/assets/img2.jpg">
              </ion-thumbnail>
              <ion-card-content>
                <ion-text color="light">
                <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-xl=4 size-lg=4 size-md=6 size-sm=6 size-xs=12>
          <ion-card style="background-color: white;">
              <ion-thumbnail style="width: 100%; height: fit-content">
                <img src="/assets/img3.jpg">
              </ion-thumbnail>
              <ion-card-content>
                <ion-text color="light">
                <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>